/* My Styles */
body{
	background-image: url('http://sstapish.github.io/p3-style-tile/img/mocha.png');
}

h1{
	font-family: 'Merienda', cursive;
	color: #1E1C45;
	position:absolute;
	top:4em;
}

}

h2{
	font-family:'Paprika', cursive;
}

header img{
	position: relative;
}

.logo img{
	max-width: 300px;
	max-height: 200px;
	
}

.tabs{
	margin-top: 2em;
}

p{
	margin-top: 2em;
}


/*Side Nav*/

.side-links{
	float: right;
}

.side-nav li a:not(.button) {
	color: white;
}

/* Orbit slider */

.exampl-orbit{
	float: right;
}
.orbit-container .orbit-slides-container li .orbit-caption{
	background-color: #6B90CA;
	padding: 20px;
}

.reveal-modal-bg {
	background-image: url('http://sstapish.github.io/p3-style-tile/img/white-bg.png');
}

.orbit-prev{
	width: 72px;
}

.orbit-container .orbit-slides-container li .orbit-caption {
	width:96%;
}

.orbit-container .orbit-next {
	right: -2em;
	margin-right: 3em;
}